name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]  # 监听 main 分支的提交
  workflow_dispatch:      # 允许手动触发

env:
  # 这里已经修改为你指定的镜像名
  IMAGE_NAME: mimimimimimimiiii/ech-cf

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          # 确保你在 GitHub Settings -> Secrets 里填的用户名是 mimimimimimimiiii
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          # 自动打上 :latest 标签
          tags: ${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
