name: Deploy Binary to DockerHub

on:
  push:
    分支: [ "main" ]
    paths:
      # 只有当这两个文件变动时触发
      - "Dockerfile"
      - "ech-workers-linux-amd64"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          # [修正] 这里使用 PASSWORD 变量
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # 仅构建 amd64 (适配你的二进制文件)
          platforms: linux/amd64
          # 指定你的 Tag
          tags: mimimimimimimiiii/ech-cf:latest
