name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
    # 监控这些文件的变化，有变动才触发构建
    paths:
      - "Dockerfile"
      - "entrypoint.sh"
      - "main.go"
      - "go.mod"
  workflow_dispatch:              # 允许手动触发

jobs:
  docker:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          # 你的参考代码里用的是 PASSWORD，这里保持一致
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          
      # [新增] 设置 QEMU
      # 这是源码构建的核心！它允许 Ubuntu(amd64) 编译 arm64 的程序
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      # 设置 Buildx (构建工具)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push multi-arch Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # [核心升级] 
          # 因为我们有源码，这里可以同时构建 amd64 和 arm64！
          # 你的镜像将能运行在任何服务器、树莓派或 M1 Mac 上
          platforms: linux/amd64,linux/arm64
          
          # 你指定的镜像名和标签
          tags: mimimimimimimiiii/ech-cf:latest
