name: Build Source to DockerHub

on:
  push:
    分支: [ "main" ]
    paths:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # 启用 QEMU 以支持多架构
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # 同时构建 amd64 (服务器) 和 arm64 (手机/M1电脑)
          platforms: linux/amd64,linux/arm64
          tags: mimimimimimimiiii/ech-cf:latest
